<div class="push"></div>
  <footer>
    <aside class="wrap">
<!--       <ol class="prev-posts">
        <p class="list-title">Recent Posts</p>
        {% for post in site.posts | limit:3 %}
            <li>
              <span class="recent-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 30 }} </a></span>
              <span class="date">{{post.date | date: "%b %d, %Y" }}</span>
            </li>
        {% endfor %}
      </ol>
 -->
      <div class="social">
            <a id="mail" href="mailto:{{ site.owner.email }}"><img src="{{ site.url }}/images/plane.png"/></a>

            {% if site.owner.twitter %}
            <a id="twit" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><img src="{{ site.url }}/images/twit.png"/><span class="foot-link"></span></a>
            {% endif %}


            {% if site.owner.github %}
            <a id="drib" href="http://github.com/{{ site.owner.github }}" target="_blank"><img src="{{ site.url }}/images/github.png"/></a>
            {% endif %}
    </div>
    </aside>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>


  </body>
</html>
