{% include head-dark.html %}

      <section class="article">
        {% if page.image.feature %}
          <div class="overlay"></div>
          <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
        {% else %}
          <div class="overlay"></div>
          <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
        {% endif %}
          <article class="archive-wrap">
              <ol class="post-list">
                 <lh><h2>{{ page.title }}</h2></lh>
                  <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
                  {{ content }}

                  {% for post in site.posts reversed %}
                    {% if post.category contains 'papers' %}
                      <li>
                        <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                          <a href="{{ site.url }}/assets/docs/{{ post.pdf }}">{{ post.title }}</a>.
                          <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"><span class="journal">{{ post.journal }}</span> <span class="separator-horizontal">/</span> {{ post.date | date: "%Y" }} <span class="separator-horizontal">/</span> {{ post.type }}</time></p>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}

                  {% include separator.html %}

                  {% for post in site.posts %}
                    {% if post.category contains 'posters' %}
                      <li>
                        <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                          <a href="{{ site.baseurl }}/assets/docs/{{ post.pdf }}"><img style="width:100%; max-width:350px;" src="{{ site.baseurl }}/images/{{ post.preview_img }}" class="poster"></a>
                          <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"><span class="journal">{{ post.journal }}</span> <span class="separator-horizontal">/</span> {{ post.date | date: "%Y" }} <span class="separator-horizontal">/</span> {{ post.type }}</time></p>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}

                  {% include separator.html %}

                  {% for post in site.posts %}
                    {% unless post.category contains 'papers' %}
                      {% unless post.category contains 'posters' %}
                      {% unless post.category contains 'hidden' %}
                        <li>
                          <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                            {% if post.external_url %}
                              <a href="{{ post.external_url }}">{{ post.title }}</a>.
                            {% else %}
                              <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>.
                            {% endif %}
                          <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"><span class="journal">{{ post.type }}</span> <span class="separator-horizontal">/</span> {{ post.date | date: "%B %d, %Y" }}</time></p>
                          </div>
                        </li>
                      {% endunless %}
                    {% endunless %}
                    {% endunless %}
                  {% endfor %}
              </ol>
          </article>
      </section>

{% include footer.html %}
