{% include head.html %}

      <section class="article">
        {% if page.image.feature %}
          <div class="overlay"></div>
          <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
        {% else %}
          <div class="overlay"></div>
          <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
        {% endif %}
          <article class="archive-wrap">
              <ol class="post-list">
                 <lh><h2>{{ page.title }}</h2></lh>
                  <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
                  {{ content }}
                  {% include separator.html %}
                  {% for post in site.posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>.
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.type }} &mdash; {{ post.date | date: "%B %d, %Y" }}</time></p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>
          </article>
      </section>

{% include footer.html %}
